<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhihuitong.search.mapper.StuNoteSearchIndexMapper">
    
    <resultMap type="StuNoteSearchIndex" id="StuNoteSearchIndexResult">
        <result property="id"    column="id"    />
        <result property="noteId"    column="note_id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="tags"    column="tags"    />
        <result property="studentId"    column="student_id"    />
        <result property="studentName"    column="student_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStuNoteSearchIndexVo">
        select id, note_id, title, content, tags, student_id, student_name, create_time, update_time from stu_note_search_index
    </sql>

    <select id="selectStuNoteSearchIndexList" parameterType="StuNoteSearchIndex" resultMap="StuNoteSearchIndexResult">
        <include refid="selectStuNoteSearchIndexVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="tags != null  and tags != ''"> and tags like concat('%', #{tags}, '%')</if>
            <if test="studentId != null "> and student_id = #{studentId}</if>
            <if test="studentName != null  and studentName != ''"> and student_name like concat('%', #{studentName}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectStuNoteSearchIndexById" parameterType="Long" resultMap="StuNoteSearchIndexResult">
        <include refid="selectStuNoteSearchIndexVo"/>
        where id = #{id}
    </select>

    <insert id="insertStuNoteSearchIndex" parameterType="StuNoteSearchIndex" useGeneratedKeys="true" keyProperty="id">
        insert into stu_note_search_index
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="noteId != null">note_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null">content,</if>
            <if test="tags != null">tags,</if>
            <if test="studentId != null">student_id,</if>
            <if test="studentName != null">student_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="noteId != null">#{noteId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="tags != null">#{tags},</if>
            <if test="studentId != null">#{studentId},</if>
            <if test="studentName != null">#{studentName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStuNoteSearchIndex" parameterType="StuNoteSearchIndex">
        update stu_note_search_index
        <trim prefix="SET" suffixOverrides=",">
            <if test="noteId != null">note_id = #{noteId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="studentName != null">student_name = #{studentName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStuNoteSearchIndexById" parameterType="Long">
        delete from stu_note_search_index where id = #{id}
    </delete>

    <delete id="deleteStuNoteSearchIndexByIds" parameterType="String">
        delete from stu_note_search_index where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>